body{
    margin: 0;
    padding: 0;

}

.master{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
    background-color: aquamarine;
}
.rock,
.paper,
.scissor{
    display: flex;
    justify-content: center;
    text-align: center;
}
.btn{
    width: 300px;
    height: 300px;
    border: none;
    background-color: cornflowerblue;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 30px;
    font-weight: 900;
    border-radius: 50px;
}

.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

